/* Grid layouts */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

@media (min-width: 768px) {
  .stats-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.logo-img {
  width: 50px;  /* Ajuste o tamanho conforme necessário */
  height: auto; /* Manter a proporção da imagem */
  position: absolute; /* Posicionamento absoluto */
  top: 10px; /* Distância do topo */
  left: 10px; /* Distância da esquerda */
}
